<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>pagina inicial</title>
</head>
<body>

    <div class="topopagina">
        <div class="logo">
            <img src="https://i.ibb.co/G4sQWdkg/image.png" alt="Logo do site">
        </div>

        <nav class="menu">
            <a href="#">Conheça a biblioteca</a>
            <a href="#">Destaques</a>
            <a href="#">Contatos</a>
        </nav>

        <div class="botoes">
            <button>Cadastro</button>
            <button>Login</button>
        </div>
    </div>

    <div class="mensagem">
        <h1>Bem-Vindo à sua Biblioteca Virtual</h1>
        <p>
            O conhecimento do mundo ao seu alcance.<br>
            A qualquer hora, em qualquer lugar.
        </p>

        <div class="botoes1">
            <button>Explorar</button>
        </div>
    </div>

    <div class="destaques-acervo">
        <img src="https://i.ibb.co/m5cFXCRj/image.png" alt="image">
        <img src="https://i.ibb.co/CKsKZYbx/image.png" alt="image">
        <img src="https://i.ibb.co/cSHtBHPx/image.png" alt="image">
        <img src="https://i.ibb.co/5W8WCS46/image.png" alt="image">
    </div>

    <div class="cria-conta">
        <h4>Baixe livros e leia de qualquer lugar</h4>
        <img src="https://i.ibb.co/QsmW6sm/image.png" alt="image">
        <button>Criar</button>
    </div>

    <footer class="rodape">
        <div class="rodape-conteudo">

            <div class="rodape-coluna">
                <h3>Library Connect</h3>
                <p>Siga-nos</p>
            </div>

            <div class="rodape-coluna">
                <h4>Navegação</h4>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Recurso</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>
        </div>
        <div class="rodape-direitos">
            © LibraryConnect — todos os direitos reservados
        </div>
    </footer>

</body>
</html>
