<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Library Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/capa.css') }}">
</head>
<body>
    <header class="topo">
        <div class="logo">
            <img src="https://i.ibb.co/G4sQWdkg/image.png">
        </div>

        <nav class="menu">
            <a href="#">Conheça a biblioteca</a>
            <a href="#">Destaques</a>
            <a href="#">Contatos</a>
        </nav>

        <div class="botoes">
            <button>Cadastro</button>
            <button>Login</button>
        </div>
    </header>
    <section class="banner">
        <div class="banner-texto">
            <h1>Bem-vindo à sua<br> Biblioteca Virtual</h1>
            <p>O conhecimento do mundo ao seu alcance.<br>A qualquer hora, em qualquer lugar.</p>
            <button class="btn-explorar">Explorar</button>
        </div>
    </section>

    <section class="destaques">
        <h2 class="destaque-titulo">Destaques do acervo</h2>

        <div class="livros">
            <img src="https://i.ibb.co/m5cFXCRj/image.png">
            <img src="https://i.ibb.co/CKsKZYbx/image.png">
            <img src="https://i.ibb.co/cSHtBHPx/image.png">
            <img src="https://i.ibb.co/5W8WCS46/image.png">
        </div>
    </section>
    <section class="criar-conta">
        <div class="caixa-conta">

            <div class="caixa-img">
                <img src="https://i.ibb.co/QsmW6sm/image.png">
            </div>

            <div class="caixa-texto">
                <h2>Crie uma conta</h2>
                <p>Baixe livros e leia de qualquer lugar</p>
                <button class="btn-criar">Criar</button>
            </div>

        </div>
    </section>
    <footer class="rodape">
        <div class="rodape-conteudo">

            <div class="coluna-esquerda">
                <h3>📘 Library Connect</h3>
                <p class="siga-title">Siga-nos</p>

                <div class="social-icons">
                    <img src="https://i.ibb.co/YkZ9N0s/facebook.png">
                    <img src="https://i.ibb.co/18JsNpH/instagram.png">
                </div>
            </div>

            <div class="coluna-direita">
                <h4>Navegação</h4>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Recurso</a></li>
                    <li><a href="#">Termos de Uso</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </div>

        </div>

        <div class="rodape-direitos">
            © LibraryConnect — todos os direitos reservados
        </div>
    </footer>

</body>
</html>
