<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
</head>
<body>
    
    <div class="informacoes">
        <a href="historico" class="nav-link">Historico de Leitura</a>
        <a href="favoritos" class="nav-link">Livros Favoritos</a>
        <a href="suporte_create" class="nav-link">Suporte</a>
        <a href="alteracao de dados" class="nav-link">altera seus dados</a>
    </div>

</body>
</html>